.root {
  height: 100vh;

  .container {
    position: relative;
    height: 100vh;
    .title {
      padding-left: 70px;
      padding-top: 20px;
      margin: 0;
      font-size: 35px;
      color: rgba(66, 68, 90, 1);
    }

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .slick-current {
        transform: scale(1.1) !important;
      }
    }
  }
}

@media (max-width: 426px) {
  .root {
    .container {
      padding: 0;
      .title {
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

.center {
  text-align: center;
}

@media (max-width: 350px) {
  .root {
    .container {
      .wrapper {
        align-items: end;
        margin-top: 19px;
      }
    }
  }
}
