@import "../../styles/global.scss";

.root {
  flex: 0 0 22%;
  text-align: center;

  div {
    font-family: $text;
    color: $light;
    position: relative;
    font-size: 30px;
    display: inline;
    cursor: pointer;

    &::before {
      content: "";
      border-bottom: 3px solid $light;
      width: 20px;
      display: inline-block;
      top: 39px;
      position: absolute;
      transition: all 1s;
    }

    &:hover::before {
      width: 100%;
      transition: all 1s;
    }
  }
}
