@import "../../styles/global.scss";

.root {
  // background: #1a1e23;
  height: 100vh;
  background: $light;

  .title {
    color: $primary;
    font-size: 35px;
    padding-left: 70px;
    margin: 0;
    padding-top: 20px;
  }

  .sectionWrapper {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    max-height: 45vh;

    .imageWrapper {
      flex: 0 0 50%;
      max-width: 45%;
      position: relative;

      &::after {
        background: rgba(71, 71, 71, 0.274);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 20px;
        top: 20px;
        content: "";
        display: inline-block;
        transition: all 1s;
      }

      &:hover:after {
        top: 0;
        left: 0;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .description {
      flex: 0 0 50%;
      color: $primary;
      padding: 40px;
      font-size: 20px;

      p {
        font-weight: 400;
      }
    }

    .description:nth-of-type(1) {
      text-align: right;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//bubbles
$bubble-count: 15;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 73%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate
      infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 426px) {
  .root {
    .title {
      padding-left: 0;
      text-align: center;
    }

    .sectionWrapper {
      justify-content: space-between;

      .imageWrapper{
        max-width: 50%;

        &::after{
          display: none;
        }
      }

      .description {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h3{
          margin: 0;
        }
      }
    }
  }
}
