@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Source+Code+Pro:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./_slick.scss";
@import "./_slick-theme.scss";
$primary: rgb(1, 1, 1);
$light: #ffff;
$barButton: "Zen Dots", cursive;
$text: "Quicksand", sans-serif;

h1,
h2,
h3,
h4,
h5,
p {
  font-family: $text;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel .control-dots .dot{
  width: 18px;
  height: 18px;
  background: rgba(0, 0, 0, 0.6);
}

.carousel .thumbs-wrapper {
  margin: 0;
  padding: 20px;
}
// Home component
@media (max-width: 426px){
  .carousel .slide img{
    object-fit: cover;
    height: 100%;
  }
  .carousel.carousel-slider .control-arrow {
    display: none;
  }
}