@import "./normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Source+Code+Pro:wght@400;900&display=swap');

$primary: rgb(1,1,1);
$light: #ffff;
$barButton: 'Zen Dots', cursive;
$text: 'Source Code Pro', monospace;
