@import "../../styles/global.scss";

.root {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.carouselWrapper {
  div {
    height: 100vh;
  }

  p {
    display: none;
  }

  button {
    width: 50px;
    height: calc(100vh - 70px);
    margin-top: 70px !important;
  }
  div:nth-of-type(2){
    display: none;
  }
}

@media (max-width: 426px){
  .carousel .slide img{
    object-fit: cover !important;
    height: 100% !important;
  }
}