@import "../../styles/global.scss";

.root {
  position: absolute;
  z-index: 998;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    cursor: pointer;

    div {
      align-self: flex-end;
      height: 5px;
      width: 100%;
      background: #3e4651;
    }

    .meat {
      width: 75%;
      transition: all 200ms ease-in-out;
    }

    .botBun {
      width: 50%;
      transition: all 400ms ease-in-out;
    }

    &:hover {
      div {
        width: 100%;
      }

      ul {
        width: 150px;
      }
    }

    ul {
      overflow: hidden;
      transition-property: width;
      transition: all 1s ease-in-out;
      position: absolute;
      width: 0px;
      right: 50px;
      padding: 0;
      margin: 0;
      transform: translateY(-50%);
      top: 50%;
      font-family: $text;
      white-space: nowrap;
      margin-right: 5px;

      li {
        list-style-type: none;
        color: #fff;
        padding: 10px;
        margin: 3px 0;
        background: rgba(62, 70, 81, 1);
        border-radius: 10px;

        &:hover {
          background: #626a75;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .root {
    top: 20px;
    right: 10px;
    transform: translateY(0);
    position: fixed;
    .hamburger {
      height: 30px;

      ul {
        transform: none;
        transition: all 0.6s ease-in-out;
        margin-right: 0;
        height: 0px;
        transition-property: height;
        
        li{
          margin: 10px 0;
          padding: 15px;
          text-align: center;
        }
      }

      &:hover {
        ul {
          width: 0px;
        }
      }

      .meat,
      .botBun {
        width: 100%;
      }
    }
  }
}

.dropdown {
  ul {
    width: 100vw !important;
    height: calc(100vh - 70px) !important;
    top: 168% !important;
    right: -20% !important;
    background: rgba(0, 0, 0, 0.5);
    transition-property: height !important;
  }
}