@import "../../styles/global.scss";

.root {
  position: absolute;
  z-index: 998;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    cursor: pointer;

    div {
      align-self: flex-end;
      height: 5px;
      width: 100%;
      background: #3e4651;
    }

    .meat {
      width: 75%;
      transition: all 200ms ease-in-out;
    }

    .botBun {
      width: 50%;
      transition: all 400ms ease-in-out;
    }

    &:hover {
      div {
        width: 100%;
      }

      ul {
        width: 150px;
      }
    }

    ul {
      overflow: hidden;
      transition-property: width;
      transition: all 1s ease-in-out;
      position: absolute;
      width: 0px;
      right: 50px;
      padding: 0;
      margin: 0;
      transform: translateY(-50%);
      top: 50%;
      font-family: $text;
      white-space: nowrap;
      margin-right: 5px;
      
      li {
        list-style-type: none;
        color: #fff;
        padding: 10px;
        margin: 3px 0;
        background: rgba(62, 70, 81, 1);
        border-radius: 10px;

        &:hover {
          background: #626a75;
        }
      }
    }
  }
}
