@import "../../styles/global.scss";

.root {
  height: 100vh;
  background: #fff;

  .container {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    .wrapper {
      position: relative;
      width: 100%;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .title {
      position: absolute;
      font-size: 35px;
      left: 70px;
      top: 20px;
      color: rgba(66, 68, 90, 1);
    }

    .dots {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 0.5rem;
          cursor: pointer;
          transition: all 1s;

          span {
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #818080;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }

            &.active{
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

.slideIn {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slideOut {
  -webkit-animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}