@import "../../styles/global.scss";

.root {
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
  
  .container {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 -5px 24px rgba(66, 68, 90, 1);
    height: 100vh;
    position: relative;

    .wrapper {
      position: relative;
      width: 100%;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .title {
      font-size: 35px;
      padding-left: 70px;
      padding-top: 20px;
      margin: 0;
      display: inline-block;
      color: rgba(66, 68, 90, 1);
    }

    .carousel {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 426px) {
  .root {
    .container {
      flex-direction: column;
      border: none;
      padding: 0 5px;
      .carousel{
        position: inherit;
        transform: translateY(30%);
        top: 0;
      }

      .wrapper {
        padding: 0;
      }

      .title {
        padding-left: 0;
        display: block;
        text-align: center;
      }
    }
  }
}
